---
import BackgroundGradient from "@components/BackgroundGradient.astro";

import { getCollection } from "astro:content";
import Pagination from "@components/Pagination.astro";
import type { GetStaticPathsOptions, Page } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Articles from "./_components/Articles.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const articles = (await getCollection("articles")).sort((a, b) =>
    b.data.publishedDate.getTime() <= a.data.publishedDate.getTime() ? -1 : 1,
  );

  return paginate(articles, { pageSize: 6 });
}

interface Props {
  page: Page;
}

const { page } = Astro.props;
const title = "Article Index";
---

<BaseLayout {title} description={title}>
  <header class="pt-8 md:pt-16">
    <h1 class="mx-6 text-center text-content-1 lg:mx-8">
      Rock the JVM Articles
    </h1>
  </header>
  <BackgroundGradient />
  <Articles articles={page.data} />
  <footer class="pb-4">
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} {page} />
  </footer>
</BaseLayout>
