---
import Articles from "@pages/articles/_components/Articles.astro";
import { getCollection } from "astro:content";
import AuthorWide from "../../components/AuthorWide.astro";
import FullContainer from "../../containers/FullContainer";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  const authors = await getCollection("authors");

  return authors.map((author) => ({
    params: { id: author.id },
    props: {
      articles: articles.filter(
        (article) => article.data.author.id === author.id,
      ),
      author,
    },
  }));
}

const { articles, author } = Astro.props;
const title = `Articles written by '${author.data.name}'`;

const structuredData = JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "ProfilePage",
  mainEntity: {
    "@type": "Person",
    name: author.data.name,
    identifier: author.id,
    image: author.data.photo.src,
  },
};
---

<BaseLayout
  {title}
  description={title}
  structuredData={JSON.stringify(structuredData)}
>
  <FullContainer>
    <header class="pt-8 md:pt-16">
      <h1 class="mx-6 text-center text-content-1 lg:mx-8">
        {title}
      </h1>
    </header>
    <div class="my-8">
      <AuthorWide {author} />
    </div>
    <Articles {articles} />
  </FullContainer>
</BaseLayout>
