---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import FAQ from "../../../components/FAQ";
import CoursePricing from "../../../components/CoursePricing.astro";
import Feature from "@pages/courses/_components/Feature.astro";
import Prose from "@components/Prose.astro";
import { getEntry } from "astro:content";
import Hero from "../_sections/Hero.astro";
import Goal from "../_sections/Goal.astro";
import Question from "../_sections/Question.astro";
import Features from "../_sections/Features.astro";
import Skills from "../_sections/Skills.astro";
import Pricing from "../_sections/Pricing.astro";

const { slug } = Astro.params;
const course = await getEntry("courses", slug!);
const frontmatter = course!.data;
const category = await getEntry("courseCategories", frontmatter.category.id);
const {
  answer,
  description,
  excerpt,
  faqs,
  features,
  bundledCourses,
  grouping,
  image,
  question,
  title,
} = frontmatter;
---

<BaseLayout {description} {title}>
  <article>
    <Hero {description} {image} {title} />
    <Goal>
      <slot name="goal" />
    </Goal>
    {
      question && (
        <Question color={category.data.color} image={question.image} {question}>
          <slot name="question" />
        </Question>
      )
    }
    <Features color={category.data.color} {features}>
      <slot name="feature1" slot="feature1" />
      <slot name="feature2" slot="feature2" />
      <slot name="feature3" slot="feature3" />
      <slot name="feature4" slot="feature4" />
      <slot name="feature5" slot="feature5" />
    </Features>
    <Skills>
      <slot name="skills" />
    </Skills>
    <Pricing {course} {category} color={category.data.color} />

    <!--
    <h2 class={`text-center py-16 bg-[${category.data.color}]`}>Meet Rock the JVM</h2>

    <Feature
      section={{
        src: "https://cdn.fs.teachablecdn.com/Pv2uGaq0TV6KTYq3hodG",
        alt: "Daniel Ciocîrlan",
      }}
      flip={true}
    >
      <h3>Daniel Ciocîrlan</h3>
      <p>I'm a software engineer and the founder of Rock the JVM.</p>
      <p>
        I worked on my first production Kotlin server-side application in 2017
        (when Kotlin server-side wasn't cool yet 😆), a logistics management
        application for a big plane manufacturer. I've written a lot more code
        since, I learned a ton, and I want to share everything.
      </p>
      <p>
        As of February 2024, I've taught Kotlin, Scala and other libraries to
        100000+ students at various levels and I've held live training sessions
        for some of the top companies in the industry, including Adobe and
        Apple. I've also taught university students who now work at Google and
        Facebook (among others), I've held Hour of Code for 7-year-olds and I've
        taught more than 35000 kids to code (not in Kotlin, yet 😆).
      </p>
      <p>
        <strong>You're in good hands in this course.</strong> I'll guide you every
        step of the way, and our private community at Rock the JVM is full of passionate
        people just like you.
      </p>
    </Feature>
    <div class="max-w-[40rem] mb-8 md:mb-16 mx-auto px-8">
      { Astro.slots.has("thanks") && (
        <h3 class="my-4">With Special Thanks To</h3>
        <slot name="thanks" />)
      }
    </div>
    <h2 class={`text-center py-16 bg-[${category.data.color}]`}>What's Included</h2>
    <h2 class={`text-center py-16 bg-[${category.data.color}]`}>Take this course now!</h2>
    <CoursePricing {course} />
    <h2 class={`text-center py-16 bg-[${category.data.color}]`}>Frequently Asked Questions</h2>-->
    <!-- {
      faqs && (
        <FAQ
          faqs={[
            {
              question: "How is a typical lesson like?",
              answer:
                "We generally create separate mini-applications where we'll focus on a specific small subject, with examples and exercises. Each lesson is about 10-30 mins long.",
            },
            {
              question: "Do you give a certificate?",
              answer:
                "Sure do! You'll automatically get a certificate which you can export and use this to get reimbursed or land a job.",
            },
            {
              question: "Can I expense this at my company?",
              answer:
                "Of course! After you enroll, you'll automatically get a tax-compliant receipt which you can use to reimburse this course with your employer.",
            },
            {
              question: "What if I don't like the course?",
              answer:
                "Money back, easy 💰. Only a handful of people ever asked for a refund on the entire site of 20+ courses, just to give you an idea.",
            },
            {
              question: "How long do I have access to the course?",
              answer:
                "If you're buying courses individually, you have access to them forever, including updates. If you take these courses through the membership, you'll have access as long as you're subscribed.",
            },
            ...faqs,
          ]}
          client:visible
        />
      )
    } -->
  </article>
</BaseLayout>
<!-- <style is:global>
  ul {
    @apply list-disc;
  }
</style> -->
