---
import { getCollection, getEntry } from "astro:content";
import MembershipPricingHelper from "@components/MembershipPricingHelper";
import MyPicture from "@components/MyPicture.astro";
import Section from "@components/Section.astro";

import PersonalImage from "src/assets/images/logos/personal.png";
import TeamImage from "src/assets/images/logos/team.png";

const membership = await getEntry("memberships", "personal");

const monthlyPriceId = membership.data.packages[0].pricingPlanId;
const monthlyTitle = "Monthly Membership";

const yearlyPriceId = membership.data.packages[1].pricingPlanId;
const yearlyTitle = "Yearly Membership";

const membershipHours = (await getCollection("courses"))
  .map((e) => e.data.benefits?.hours ?? 0)
  .reduce((b, a) => b + a);
const membershipLinesOfCode = (await getCollection("courses"))
  .map((e) => e.data.benefits?.linesOfCode ?? 0)
  .reduce((b, a) => b + a);
// const categories = (await getCollection("courseCategories")).sort((a, b) =>
//   a.data.ordinal <= b.data.ordinal ? -1 : 1,
// );
---

<Section color="bg-secondary" title="Get started now!">
  <MembershipPricingHelper
    {monthlyTitle}
    {monthlyPriceId}
    {yearlyPriceId}
    {yearlyTitle}
    {membershipHours}
    {membershipLinesOfCode}
    client:visible={{ rootMargin: "2160px" }}
  >
    <Fragment slot="personalImage">
      <MyPicture
        src={PersonalImage}
        alt="Personal"
        quality="mid"
        class="mx-auto mb-2 w-[225px]"
      />
    </Fragment>
    <Fragment slot="teamImage">
      <MyPicture
        src={TeamImage}
        alt="Team"
        quality="mid"
        class="mx-auto mb-2 w-[225px]"
      />
    </Fragment>
  </MembershipPricingHelper>
</Section>
