---
import MembershipPricingHelper from "@components/MembershipPricingHelper";
import Section from "@components/Section.astro";
import { getCollection, getEntry } from "astro:content";

const membership = await getEntry("memberships", "personal");

const monthlyPriceId = membership.data.packages[0].pricingPlanId;
const monthlyTitle = "Monthly Membership";

const yearlyPriceId = membership.data.packages[1].pricingPlanId;
const yearlyTitle = "Yearly Membership";

const membershipHours = (await getCollection("courses"))
  .map((e) => e.data.benefits?.hours ?? 0)
  .reduce((b, a) => b + a);
const membershipLinesOfCode = (await getCollection("courses"))
  .map((e) => e.data.benefits?.linesOfCode ?? 0)
  .reduce((b, a) => b + a);
// const categories = (await getCollection("courseCategories")).sort((a, b) =>
//   a.data.ordinal <= b.data.ordinal ? -1 : 1,
// );
---

<Section color="bg-secondary" title="Get started now!">
  <!-- <MembershipPricing /> -->
  <MembershipPricingHelper
    {monthlyTitle}
    {monthlyPriceId}
    {yearlyPriceId}
    {yearlyTitle}
    {membershipHours}
    {membershipLinesOfCode}
    client:visible={{ rootMargin: "2160px" }}
  />
</Section>
