---
import MyPicture from "@/components/MyPicture.astro";
import Section from "@/components/Section.astro";
import PersonalImage from "@/images/logos/personal.png";
import TeamImage from "@/images/logos/team.png";
import { getCollection, getEntry } from "astro:content";
import MembershipPricingSectionHelper from "./MembershipPricingSectionHelper";

const _personalMembership = await getEntry("memberships", "personal"),
  monthlyPriceId = _personalMembership.data.packages[0].pricingPlanId,
  yearlyPriceId = _personalMembership.data.packages[1].pricingPlanId,
  membershipHours = (await getCollection("courses"))
    .map(({ data: { benefits } }) => benefits?.hours ?? 0)
    .reduce((b, a) => b + a),
  membershipLinesOfCode = (await getCollection("courses"))
    .map(({ data: { benefits } }) => benefits?.linesOfCode ?? 0)
    .reduce((b, a) => b + a);
---

<Section color="bg-secondary" title="Get started now!">
  <MembershipPricingSectionHelper
    {monthlyPriceId}
    {yearlyPriceId}
    {membershipHours}
    {membershipLinesOfCode}
    client:visible={{ rootMargin: "2160px" }}
  >
    <Fragment slot="personalImage">
      <MyPicture
        src={PersonalImage}
        alt="Personal"
        quality="mid"
        class="mx-auto mb-2 w-[225px]"
      />
    </Fragment>
    <Fragment slot="teamImage">
      <MyPicture
        src={TeamImage}
        alt="Team"
        quality="mid"
        class="mx-auto mb-2 w-[225px]"
      />
    </Fragment>
  </MembershipPricingSectionHelper>
</Section>
