---
import Placeholder from "@assets/images/placeholder.webp";
import FormattedDate from "@components/FormattedDate.astro";
import { getReadingTime } from "@utils/getReadingTime.ts";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
const { excerpt, heroImage, publishedDate, tags, title } = article.data;
const author = await getEntry("authors", article.data.author.id);
const category = await getEntry("articleCategories", article.data.category.id);
const entity = author.data.company
  ? await getEntry("companies", author.data.company.entity.id)
  : undefined;
---

<article
  class="card-shadow card-shadow-color flex flex-col items-start justify-between rounded-2xl p-4"
>
  <!-- <div class="relative w-full">
    {
      heroImage ? (
        <Image
          src={heroImage.image}
          alt={heroImage.alt}
          class="aspect-[16/9] w-full rounded-2xl bg-secondary object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
        />
      ) : (
        <Image
          src={Placeholder}
          alt="Placeholder"
          class="aspect-[16/9] w-full rounded-2xl bg-secondary object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
        />
      )
    }
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    >
    </div>
  </div> -->
  <div class="mt-8 flex w-full items-center gap-x-2 overflow-hidden text-xs">
    <FormattedDate date={publishedDate} class="text-nowrap text-content" />
    <a
      href={`/categories/article/${category.id}`}
      class="relative z-10 rounded-full bg-tag px-3 py-1.5 font-medium text-accent-1 hover:bg-gray-100"
      >{category.data.name}</a
    >
    {
      tags.slice(0, 3).map((tag) => (
        <p class="relative z-10 rounded-full bg-tag px-3 py-1.5 text-center font-medium text-content-1 hover:bg-gray-100">
          <a href={`/tags/${tag.id}`}>{tag.id}</a>
        </p>
      ))
    }
  </div>
  <div class="group relative">
    <h3 class="mt-3 text-lg font-semibold leading-6 group-hover:text-gray-600">
      <a href={`/articles/${article.slug}`} class="text-content-2">
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-1 inline-flex items-center text-content-1">
      <span
        class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-content-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strok-idth={1.5}
          stroke="currentColor"
          class="ml-1 size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
        </svg>
        {`${getReadingTime(article.body)} min read`}
      </span>
    </p>
    <p class="mt-2 line-clamp-3 text-sm leading-6 text-content">
      {excerpt}
    </p>
  </div>
  <div class="relative mt-4 flex items-center gap-x-4">
    <Image
      src={author.data.photo}
      alt={author.data.name}
      class="size-10 rounded-full bg-gray-100"
    />
    <div class="text-sm leading-6">
      <p class="font-semibold text-content">
        <a href={`/authors/${author.id}`}>
          <span class="absolute inset-0"></span>
          {author.data.name}
        </a>
      </p>
      {
        author.data.company && (
          <p class="text-content">
            {author.data.company.role} | {entity?.data.title}
          </p>
        )
      }
    </div>
  </div>
</article>
