---
import Prose from "@/components/Prose.astro";
import NarrowContainer from "@/containers/NarrowContainer";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Articles from "@/pages/articles/_components/Articles.astro";
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("articles"),
    tags = await getCollection("tags");

  return tags.map((tag) => ({
    params: { id: tag.id },
    props: {
      articles: articles.filter((article) =>
        article.data.tags.map(({ id }) => id).includes(tag.id),
      ),
      tag,
    },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { articles, tag } = Astro.props,
  title = `Articles tagged with '${tag.id}'`;
---

<BaseLayout {title} description={title}>
  <NarrowContainer>
    <article class="pt-16 md:pt-8">
      <header>
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Articles {articles} />
    </article>
  </NarrowContainer>
</BaseLayout>
