---
import { getCollection } from "astro:content";
import Prose from "@components/Prose.astro";
import NarrowContainer from "@containers/NarrowContainer";
import Articles from "@pages/articles/_components/Articles.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  const articles = await getCollection("articles");

  return tags.map((tag) => ({
    params: { id: tag.id },
    props: {
      articles: articles.filter((article) =>
        article.data.tags.map(({ id }) => id).includes(tag.id),
      ),
      tag,
    },
  }));
}

interface Props {
  articles: CollectionEntry<"articles">[];
  tag: CollectionEntry<"tags">;
}

const { articles, tag } = Astro.props;
const title = `Articles tagged with '${tag.id}'`;
---

<BaseLayout {title} description={title}>
  <NarrowContainer>
    <article class="pt-16 md:pt-8">
      <header>
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Articles {articles} />
    </article>
  </NarrowContainer>
</BaseLayout>
