---
import Prose from "@components/Prose.astro";
import NarrowContainer from "@containers/NarrowContainer";
import Articles from "@pages/articles/_components/Articles.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  const tags = [
    ...new Set(articles.map((article) => article.data.tags).flat()),
  ];

  return tags.map((tag) => ({
    params: { id: tag.id },
    props: {
      articles: articles.filter((article) =>
        article.data.tags.map((t) => t.id).includes(tag.id),
      ),
      tag,
    },
  }));
}

const { articles, tag } = Astro.props;
const title = `Articles tagged with '${tag.id}'`;
console.log(articles.length);
---

<BaseLayout {title} description={title}>
  <NarrowContainer>
    <article class="pt-16 md:pt-8">
      <header>
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Articles {articles} />
    </article>
  </NarrowContainer>
</BaseLayout>
