---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import PostLinks from "../../components/PostLinks.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const description: string = `"Page for the tag ${tag}"`;
---

<Base title={tag} {description}>
  <p>Posts tagged with {tag}</p>
  <PostLinks {posts} />
</Base>
