---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleLinks from "../../components/ArticleLinks.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  const tags = [
    ...new Set(articles.map((article) => article.data.tags).flat()),
  ];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      articles: articles.filter((article) => article.data.tags.includes(tag)),
      tag,
    },
  }));
}

const { articles, tag } = Astro.props;
const description = `Articles tagged with ${tag}`;
---

<BaseLayout title={tag} {description}>
  <h1>Articles tagged with '{tag}'</h1>
  <ArticleLinks {articles} />
</BaseLayout>
