---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import ArticleLinks from "../../components/ArticleLinks.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  const tags = [
    ...new Set(articles.map((article) => article.data.tags).flat()),
  ];
  return tags.map((tag) => {
    const filteredArticles = articles.filter((article) =>
      article.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { articles: filteredArticles },
    };
  });
}

const { tag } = Astro.params;
const { articles } = Astro.props;
const description = `Page for the tag ${tag}`;
---

<Base title={tag} {description}>
  <p>Articles tagged with {tag}</p>
  <ArticleLinks {articles} />
</Base>
