---
import Image from "astro/components/Image.astro";

const { title, img, description, cta } = Astro.props;
---

<article class="grid gap-2 rounded-md border-2 border-accent-1 p-6">
  <h2 class="text-3xl font-bold">{title}</h2>
  <Image
    src={img.src}
    alt={img.alt}
    width={478}
    height={302}
    class="aspect-video rounded-sm"
  />
  <p>{description}</p>
  <a
    href="#"
    class="grid max-w-fit place-items-center rounded-sm bg-content px-4 py-2 transition-opacity hover:opacity-90"
  >
    {cta}
  </a>
</article>
