---
import site from "../data/site.json";
import Base from "../layouts/Base.astro";
import Logo from "../assets/images/logos/rtjvm-red.png";
import Hero from "../components/Hero";
import Contact from "../components/Contact";
import Membership from "../components/Membership";
import LatestContent from "../components/LatestContent";
import NarrowContainer from "../components/NarrowContainer";
import { type CollectionEntry } from "astro:content";
import Testimonials from "../components/Testimonials.astro";
import SocialProof from "../components/SocialProof.astro";
interface Props {
  canonicalUrl: URL;
  description: string;
  image: { src: string; alt: string };
  title: string;
  companies: CollectionEntry<"companies">[];
}
const image = { src: Logo.src, alt: site.logo.alt };
const title = "Home";
---

<Base canonicalUrl={Astro.url} description={site.description} {image} {title}>
  <NarrowContainer>
    <div class="main">
      <!-- <Hero
      {image}
      subtitle="The zero-to-master online courses and hands-on training for Scala, Kotlin, Spark, Flink, ZIO, Akka and more."
      subtitle2="No more mindless browsing, obscure blog posts and blurry videos. Save yourself the time and frustration and follow a smooth learning curve where code is king."
      {title}
    /> -->
      <!-- <LatestContent />
      <Membership />
      <Instructor />
      <BrandLogos /> -->
      <!-- <hr />
    <h2>LATEST CONTENT</h2>
    <hr />
    <h2>COURSES</h2>
    <hr />
    <Membership />
    <Instructor />
    <Testimonials />
    <Contact /> -->
      <section>
        <Hero />
      </section>
      <section>
        <h2>Latest Content</h2>
        <div class="flex gap-y-10 flex-col md:flex-row md:gap-x-10">
          <LatestContent />
          <LatestContent />
          <!-- <CardWithHeader
          image="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/bFrMi6keRSK7xdn8urgH"
        >
          <h2 class="text-2xl">Latest Article</h2>
          <p>functional erro rhandlng</p>
        </CardWithHeader>
        <CardWithHeader
          image="https://www.filepicker.io/api/file/BIe9ZeSP6hSiggxTUKlQ"
        /> -->
        </div>
      </section>
      <section>
        <h2>Available Courses</h2>
      </section>
      <section>
        <h2>Memberships</h2>
        <Membership />
      </section>
      <SocialProof />
      <Testimonials />
      <section>
        <Contact />
      </section>
      <!-- <style>
  Hero {
    background-color: var(--color-primary);
  }
</style> -->
    </div>
  </NarrowContainer>
</Base>
<style>
  section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>
