---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import MyPicture from "./MyPicture.astro";
import Facebook from "./icons/Facebook.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Twitter from "./icons/Twitter.astro";
import Website from "./icons/Website.astro";
import YouTube from "./icons/YouTube.astro";

interface Props {
  author: CollectionEntry<"authors">;
}

const { author } = Astro.props,
  { biography, company, name, photo, socials } = author.data,
  role = company?.role,
  companyName = company
    ? await getEntry(company.entity.collection, company.entity.id).then(
        (company) => company.data.title,
      )
    : undefined,
  companyWebsite = company
    ? await getEntry(company.entity.collection, company.entity.id).then(
        (company) => company.data.website,
      )
    : undefined;
---

<article
  class="card-shadow-color card-shadow mb-8 rounded-3xl bg-secondary py-8"
>
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <a href={`/authors/${author.id}`}>
        <MyPicture
          src={photo}
          alt={name}
          quality="mid"
          class="mx-auto size-56 rounded-full shadow-lg"
        />
      </a>
      <div
        class="mt-6 text-base font-semibold leading-7 tracking-tight text-content"
      >
        {name}
      </div>
      {
        role && (
          <p class="text-sm leading-6 text-content">
            {role} |{" "}
            <a
              href={companyWebsite}
              target="_blank"
              rel="noreferrer"
              class="font-bold text-content"
            >
              {companyName}
            </a>
          </p>
        )
      }
      {
        biography && (
          <p class="mt-4 text-lg leading-8 text-content">{biography}</p>
        )
      }
    </div>
    {
      socials && (
        <ul class="mt-6 flex justify-center gap-x-6">
          {socials.website && (
            <li>
              <a
                href={socials.website}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <Website />
              </a>
            </li>
          )}
          {socials.facebook && (
            <li>
              <a
                href={`https://www.facebook.com/${socials.facebook}`}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <Facebook />
              </a>
            </li>
          )}
          {socials.github && (
            <li>
              <a
                href={`https://www.github.com/${socials.github}`}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <GitHub />
              </a>
            </li>
          )}
          {socials.linkedin && (
            <li>
              <a
                href={`https://www.linkedin.com/in/${socials.linkedin}`}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <LinkedIn />
              </a>
            </li>
          )}
          {socials.twitter && (
            <li>
              <a
                href={`https://www.x.com/${socials.twitter}`}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <Twitter />
              </a>
            </li>
          )}
          {socials.youtube && (
            <li>
              <a
                href={`https://www.youtube.com/${socials.youtube}`}
                class="text-content hover:text-gray-500"
                target="_blank"
                rel="noreferrer"
              >
                <YouTube />
              </a>
            </li>
          )}
        </ul>
      )
    }
  </div>
</article>
