---
import { Image } from "astro:assets";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

// const articles = await getCollection("articles");
// const latestArticles = articles
//   .sort((a, b) => (a.data.publishedDate > b.data.publishedDate ? -1 : 1))
//   .slice(0, 3);

interface Props {
  course: CollectionEntry<"courses">;
}

const { course } = Astro.props;
---

<div class="shadow-2xl rounded-xl h-full max-w-sm">
  <a
    href={`/courses/${course.slug}`}
    class="max-w-sm h-full hover:no-underline"
  >
    <div class="bg-secondary rounded-xl w-full h-full overflow-hidden">
      <div class="w-full max-h-52 overflow-hidden">
        <img
          src={course.data.image.src}
          alt={`${course.data.title}`}
          class="min-w-full min-h-full object-cover object-center"
        />
      </div>
      <div class="mx-auto w-full h-full mb-4">
        <div class="mx-auto px-4">
          <h3
            class="text-md text-center font-bold my-4 tracking-tight text-content-2 sm:text-4xl"
          >
            {course.data.title}
          </h3>
          <div class="py-4 sm:py-4">
            <p class="text-base text-content-1">
              {course.data.description}
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
