---
import { type CollectionEntry } from "astro:content";
import CoursePrice from "./CoursePrice";

// const articles = await getCollection("articles");
// const latestArticles = articles
//   .sort((a, b) => (a.data.publishedDate > b.data.publishedDate ? -1 : 1))
//   .slice(0, 3);

interface Props {
  course: CollectionEntry<"courses">;
  showPrice: boolean;
}

const { course, showPrice } = Astro.props;
---

<div class="shadow-2xl rounded-xl h-full max-w-sm">
  <a
    href={`/courses/${course.slug}`}
    class="max-w-sm h-full hover:no-underline"
  >
    <div class="bg-secondary relative rounded-xl w-full h-full overflow-hidden">
      <div class="w-full max-h-52 overflow-hidden">
        <img
          src={course.data.image.src}
          alt={`${course.data.title}`}
          class="min-w-full min-h-full object-cover object-center"
        />
      </div>
      <div class="mx-auto w-full mb-4">
        <div class="mx-auto px-4">
          <h3
            class="text-4xl sm:text-xl text-center font-bold my-4 tracking-tight text-content-2 lg:text-4xl"
          >
            {course.data.title}
          </h3>
          <div class="py-4 sm:py-4">
            <p class="text-base sm:text-sm lg:text-base text-content-1">
              {course.data.description}
            </p>
          </div>
        </div>
      </div>
      {
        showPrice && (
          <div class="bottom-2 absolute h-10 w-full flex items-end justify-end">
            <p class="text-content-2 pr-4 pt-4 font-extrabold">
              <CoursePrice pricingPlanId={course.data.pricingPlanId} client:load />
            </p>
          </div>
        )
      }
    </div>
  </a>
</div>
