---
import Picture from "astro/components/Picture.astro";
import type { CollectionEntry } from "astro:content";
import BadgeLarge from "./BadgeLarge.astro";

interface Props {
  course: CollectionEntry<"courses">;
  holiday?: boolean;
  prices?: {
    old: number;
    new: number;
  };
}

const { course, holiday = false, prices } = Astro.props;
---

<div
  class={`card-shadow card-shadow-color mt-8 w-full overflow-hidden rounded-2xl ${holiday ? "bg-holiday-secondary" : "bg-secondary"} md:flex md:h-52`}
>
  <div
    class="mb-4 shrink-0 overflow-hidden md:mb-0 md:mr-4 md:min-h-full md:rounded-l-2xl"
  >
    <a href={`/courses/${course.slug}`}>
      <div class="h-72 w-full overflow-hidden md:h-full md:w-64 lg:w-96">
        <Picture
          src={course.data.heroImage}
          alt={`${course.data.title}`}
          class="min-h-full min-w-full object-cover object-center"
          formats={["avif", "webp"]}
        />
      </div>
    </a>
  </div>
  <div class="my-8 px-8 md:my-auto md:px-8">
    <span class="flex gap-x-2">
      <h3
        class={`text-center text-lg font-bold ${holiday ? "text-holiday-card-content-2" : "text-content-2"} hover:text-accent-2 md:text-left`}
      >
        {course.data.isFree && <BadgeLarge {holiday}> Free! </BadgeLarge>}
        {
          course.data.isNew && !course.data.isFree && (
            <BadgeLarge {holiday}> New! </BadgeLarge>
          )
        }
        <a
          href={`/courses/${course.slug}`}
          class={`${holiday ? "text-holiday-card-accent-1 hover:text-holiday-card-accent-2" : ""}`}
        >
          {course.data.title}
        </a>
        {
          prices?.old > 0 && (
            <span class="text-2xl font-bold">
              <s class={`${holiday ? "text-gray-300" : "text-content"}`}>
                ${prices.old}
              </s>
              <span
                class={`text-orange-500 ${holiday ? "text-holiday-card-accent-1" : "text-accent-1"}`}
              >
                ${prices.new}
              </span>
            </span>
          )
        }
      </h3>
    </span>
    <div
      class={`mt-1 ${holiday ? "text-holiday-card-content-1" : "text-content-1"}`}
    >
      <Fragment set:html={course.data.excerpt} />
    </div>
  </div>
</div>
