---
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import Feature from "./Feature.astro";
import MoneyBackGuarantee from "@assets/images/money-back-guarantee.svg";

interface Props {
  course: CollectionEntry<"courses">;
}

const { course } = Astro.props;
const { price, benefits, title } = course.data;
const membership = await getEntry("memberships", "personal");

const membershipHours = (await getCollection("courses"))
  .map((e) => e.data.benefits?.hours ?? 0)
  .reduce((b, a) => b + a);
const membershipLinesOfCode = (await getCollection("courses"))
  .map((e) => e.data.benefits?.linesOfCode ?? 0)
  .reduce((b, a) => b + a);
const membershipNumExamples = (await getCollection("courses"))
  .map((e) => e.data.benefits?.numExamples ?? 0)
  .reduce((b, a) => b + a);
const categories = (await getCollection("courseCategories")).sort((a, b) =>
  a.data.ordinal <= b.data.ordinal ? -1 : 1,
);
---

<div class="relative isolate bg-bkg px-6 py-1 sm:py-2 lg:px-8">
  <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
    <!-- <h2 class="text-base font-semibold leading-7 text-indigo-600">Pricing</h2> -->
  </div>
  <!-- <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">
    Qui iusto aut est earum eos quae. Eligendi est at nam aliquid ad quo
    reprehenderit in aliquid fugiat dolorum voluptatibus.
  </p> -->
  <div
    class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2"
  >
    <div
      class="rounded-3xl rounded-t-3xl bg-secondary/60 p-8 ring-1 ring-content-2/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-bl-3xl lg:rounded-tr-none"
    >
      <h3
        id="tier-hobby"
        class="text-base font-semibold leading-7 text-accent-1"
      >
        {title} Lifetime License
      </h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-content"
          >${price}</span
        >
      </p>
      <p class="mt-6 text-base leading-7 text-content">You get:</p>
      <ul
        role="list"
        class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10"
      >
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {benefits?.hours} hours of 4K content
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {benefits?.linesOfCode}+ lines of code written
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {benefits?.numExamples}+ complex real-life examples and exercises
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          all PDF slides
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          access to the private Rock the JVM community
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          free updates
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          lifetime access
        </li>
        {
          benefits?.rest &&
            benefits.rest.map((e) => (
              <Fragment>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {e}
                </li>
              </Fragment>
            ))
        }
      </ul>
      <a
        href="#"
        aria-describedby="tier-hobby"
        class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-content ring-1 ring-inset ring-primary hover:ring-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary sm:mt-10"
        >Get Now</a
      >
    </div>
    <div
      class="relative rounded-3xl bg-secondary p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10"
    >
      <h3
        id="tier-enterprise"
        class="text-base font-semibold leading-7 text-accent-1"
      >
        All-Access Membership
      </h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-content"
          >${
            membership.data.packages.find((e) => e.frequency === "monthly")!
              .price
          }</span
        >
        <span class="text-base text-content">/month</span>
      </p>
      <p class="mt-6 text-base leading-7 text-content">You get:</p>
      <ul
        role="list"
        class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10"
      >
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {membershipHours} hours of 4K content
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {membershipLinesOfCode}+ lines of code written
        </li>
        <li class="flex gap-x-3">
          <svg
            class="h-6 w-5 flex-none text-accent-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          {membershipNumExamples}+ complex real-life examples and exercises
        </li>
        {
          categories.map((e) => (
            <Fragment>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-accent-1"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"
                  />
                </svg>
                All {e.data.name} courses
              </li>
            </Fragment>
          ))
        }
      </ul>
      <a
        href="#"
        aria-describedby="tier-enterprise"
        class="mt-8 block rounded-md bg-primary px-3.5 py-2.5 text-center text-sm font-semibold shadow-sm text-content-1 hover:text-content-1 hover:bg-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary sm:mt-10"
        >Join Now</a
      >
    </div>
  </div>

  <div class="mx-auto">
    <Feature
      section={{
        src: MoneyBackGuarantee,
        alt: "Money back guarantee",
      }}
      flip={true}
    >
      <strong class="text-lg">100% Money Back Guarantee</strong>
      <p class="text-base">
        If you're not happy with this course, I want you to have your money
        back. If that happens, email me at <a href="mailto:someone@example.com"
          >daniel@rockthejvm.com</a
        > with a copy of your welcome email and I will refund you the course.
      </p>
      <p class="text-base">
        Less than 0.05% of students refunded a course on the entire site, and
        every payment was returned in less than 72 hours.
      </p>
    </Feature>
  </div>
</div>
