---
import site from "../data/site.json";



interface Props {
  description: string;
  title: string;
  image?: {
    src: string;
    alt: string;
  };
  type: string;
  url: string;
}
const { description, title, image, type, url } = Astro.props;
---


<head>
  <meta charset="utf-8" />
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:description" content={description} />
  {


  image &&
     <meta property="og:image:alt" content={image.alt} />
    <meta property="og:image:secure_url" content={image.src} />
     <meta property="og:image" content={image.src} />
  }
  <meta property="og:site_name" content={site.name} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content={type} />
  <meta property="og:url" content={url} />
  <title>{title} | {site.name}</title>
  <meta property="og:locale" content={site.locale} />
</head>
