---
import { Image } from "astro:assets";

interface Props {
  imagePair?: [string, string];
  subtitle?: string;
  subtitle2?: string;
  title: string;
}

const { imagePair, subtitle, subtitle2, title } = Astro.props;
---

<div>
  {
    imagePair && (
      <Image src={imagePair[0]} alt={imagePair[1]} inferSize={true} />
    )
  }
  <div>
    <h1>{title}</h1>
    {subtitle && <p>{subtitle}</p>}
    {subtitle2 && <p>{subtitle2}</p>}
  </div>
</div>
<style>
  div {
    background-color: red;
  }
</style>
