---
import LatestContentLink from "./LatestContentLink.astro";
import { Image } from "astro:assets";

type ContentLink = {
  title: string;
  url: string;
};

interface Props {
  links: ContentLink[];
  image: [string, string];
  title: string;
  contentHomeUrl: string;
}

const { contentHomeUrl, links, image, title } = Astro.props;
---

<div class="free-content-box">
  <div class="free-image-wrapper">
    <a href={contentHomeUrl}>
      <Image src={image[0]} alt={image[1]} inferSize={true} />
    </a>
  </div>
  <h3 class="box-heading course-title">
    <a href={contentHomeUrl}>{title}</a>
  </h3>
  <div class="content-links-container">
    {links.map((url) => <LatestContentLink url={url.url} title={url.title} />)}
  </div>
</div>
