---
import { getCollection } from "astro:content";
import LatestContentCard from "./LatestContentCard.astro";

const posts = await getCollection("blog");
const latestPosts = posts
  .sort(
    (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()
  )
  .slice(0, 7)
  .map((post) => ({
    title: post.data.title,
    url: `/blog/${post.slug}`,
  }));

const latestVideos = [
  { title: "Kotlin Coroutines", url: "https://youtu.be/Wpco6IK1hmY" },
  {
    title: "The FS2 Tutorial: More than Just Functional Streams for Scala",
    url: "https://www.youtube.com/watch?v=XCpGtaJjkVY",
  },
  {
    title: "Apache Pulsar Tutorial",
    url: "https://www.youtube.com/watch?v=u4lTUIFm1lw",
  },
  {
    title: "Kafka Streams Tutorial",
    url: "https://www.youtube.com/watch?v=MYTFPTtOoLs",
  },
  {
    title:
      "Monads are Monoids in the Category of Endofunctors - A Scala 3 Journey, No Psychobabble",
    url: "https://www.youtube.com/watch?v=CMm98RkCgPg",
  },
  {
    title: "Type-Level Programming in Scala",
    url: "https://www.youtube.com/playlist?list=PLmtsMNDRU0ByOQoz6lnihh6CtMrErNax7",
  },
  {
    title: "Java for Absolute Beginners",
    url: "https://www.youtube.com/watch?v=sjGjoDiD2F8",
  },
];

const postsTitle = "Latest Articles";
const videosTitle = "Featured Videos";
const postsUrl = "/blog";
const videosUrl = "https://www.youtube.com/rockthejvm";
const postsImage = {
  src: "https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/bFrMi6keRSK7xdn8urgH",
  alt: "Rock the JVM blog",
};
const videosImage = {
  src: "https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/FRjv6EVPQkRWF1WE9QW9",
  alt: "Rock the JVM on YouTube",
};
---

<section class="free-content">
  <LatestContentCard
    links={latestPosts}
    title={postsTitle}
    contentHomeUrl={postsUrl}
    image={postsImage}
  />
  <LatestContentCard
    links={latestVideos}
    title={videosTitle}
    contentHomeUrl={videosUrl}
    image={videosImage}
  />
</section>
