---
import { Image } from "astro:assets";

const image: { src: string; alt: string } = {
  src: "https://cdn.filestackcontent.com/kKClNQUjSXmLy790EdpB",
  alt: "Membership",
};
const membershipLink: string = "https://rockthejvm.com/membership";
const teamPackLink: string = "https://rockthejvm.com/team-pack";
---

<section class="membership-section">
  <h2 id="membership" class="section-heading">The Membership</h2>
  <div class="image-wrapper">
    <a href={membershipLink}>
      <Image src={image.src} alt={image.alt} inferSize={true} />
    </a>
  </div>
  <div class="content-wrapper">
    <p class="title">
      <strong>Now also for <a href={teamPackLink}>teams!</a></strong>
    </p>
    <p class="description">
      All of Rock the JVM, at your service. Access ~250 hours of the best
      content you'll ever find, write more code than many write in their
      careers, and be welcome in a community of driven people like you.
    </p>
    <p class="description">
      <a href={membershipLink}>Learn more</a>
      &nbsp;
      <a href={teamPackLink}>Check the team pack</a>
    </p>
  </div>
</section>
