---
import { getCollection, getEntry } from "astro:content";

// const { course } = Astro.props;
// const { price, benefits, title } = course.data;

const membership = await getEntry("memberships", "personal");

const monthlyPrice = membership.data.packages.find(
  (e) => e.frequency === "monthly",
)!.price;
const monthlyTitle = "Monthly Membership";

const yearlyPrice = membership.data.packages.find(
  (e) => e.frequency === "yearly",
)!.price;
const yearlyTitle = "Yearly Membership";

const membershipHours = (await getCollection("courses"))
  .map((e) => e.data.benefits?.hours ?? 0)
  .reduce((b, a) => b + a);
const membershipLinesOfCode = (await getCollection("courses"))
  .map((e) => e.data.benefits?.linesOfCode ?? 0)
  .reduce((b, a) => b + a);
// const membershipNumExamples = (await getCollection("courses"))
//   .map((e) => e.data.benefits?.numExamples ?? 0)
//   .reduce((b, a) => b + a);
// const categories = (await getCollection("courseCategories")).sort((a, b) =>
//   a.data.ordinal <= b.data.ordinal ? -1 : 1,
// );
---

<div
  class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2"
>
  <div
    class="rounded-3xl rounded-t-3xl bg-secondary/60 p-8 ring-1 ring-content-2/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-bl-3xl lg:rounded-tr-none"
  >
    <h3 id="tier-hobby" class="text-base font-semibold leading-7 text-accent-1">
      {monthlyTitle} TEAM
    </h3>
    <p class="mt-4 flex items-baseline gap-x-2">
      <span class="text-5xl font-bold tracking-tight text-content"
        >${monthlyPrice}</span
      >
      <span class="text-base text-content">/month</span>
    </p>
    <p class="mt-6 text-base leading-7 text-content">You get:</p>
    <ul
      role="list"
      class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10"
    >
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        A single Netflix-style monthly subscription for everything in the Scala ecosystem
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Scala & FP
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Cats + Cats Effect
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        ZIO
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Akka
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Apache Spark
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Apache Flink
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        A whopping {membershipHours}+ hours of video and {
          membershipLinesOfCode
        }+ lines of code from scratch!
      </li>
    </ul>
    <p class="text-sm mt-8 text-content-1">
      This is a subscription product billed on a monthly basis until you cancel.
      Cancel anytime from the account management page.
    </p>
    <a
      href="https://rockthejvm.com/purchase?product_id=4131055"
      aria-describedby="tier-hobby"
      class="mt-8 block rounded-full px-4 py-2.5 text-center text-sm font-semibold text-content ring-1 ring-inset ring-primary hover:ring-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary sm:mt-10"
      >Get Now</a
    >
  </div>
  <div
    class="relative rounded-3xl bg-secondary p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10"
  >
    <h3
      id="tier-enterprise"
      class="text-base font-semibold leading-7 text-accent-1"
    >
      {yearlyTitle}
    </h3>
    <p class="mt-4 flex items-baseline gap-x-2">
      <span class="text-5xl font-bold tracking-tight text-content"
        >${yearlyPrice}</span
      >
      <span class="text-base text-content">/year</span>
    </p>
    <ul
      role="list"
      class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10"
    >
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        A single Netflix-style monthly subscription for everything in the Scala ecosystem
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Scala & FP
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Cats + Cats Effect
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        ZIO
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Akka
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Apache Spark
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        Apache Flink
      </li>
      <li class="flex gap-x-3">
        <svg
          class="h-6 w-5 flex-none text-accent-1"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
            clip-rule="evenodd"></path>
        </svg>
        A whopping {membershipHours}+ hours of video and {
          membershipLinesOfCode
        }+ lines of code from scratch!
      </li>
    </ul>
    <a
      href="https://rockthejvm.com/purchase?product_id=4131056"
      aria-describedby="tier-enterprise"
      class="mt-8 block rounded-md bg-primary px-3.5 py-2.5 text-center text-sm font-semibold shadow-sm text-content-1 hover:text-content-1 hover:bg-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary sm:mt-10"
      >Join Now</a
    >
  </div>
</div>
