---
import type { ImageMetadata, ImageQuality } from "astro";
import { Picture } from "astro:assets";

interface Props {
  class?: string;
  alt: string;
  loading?: "lazy" | "eager";
  src: ImageMetadata;
  width?: number;
  height?: number;
  quality: ImageQuality;
  searchImage?: boolean;
  attrs?: Record<string, unknown>;
}

const {
    alt,
    class: additionalClasses,
    loading = "lazy",
    src,
    width,
    height,
    quality,
    searchImage = false,
    ...attrs
  } = Astro.props,
  defaultFormats = ["webp", src.format];
---

<!-- <img {alt} class:list={[additionalClasses]} {src}
{width}
{height} /> -->
<div></div>

<!-- <Picture
  {alt}
  class:list={[additionalClasses]}
  formats={(src.format === "gif" ? [] : ["avif"]).concat(defaultFormats)}
  {loading}
  {src}
  {width}
  {height}
  {quality}
  {...searchImage && { "data-pagefind-meta": "image[src], image_alt[alt]" }}
  {...attrs}
/> -->
