---
import type { CollectionEntry } from "astro:content";
import GradientSelect from "./GradientSelect.astro";
import H2 from "./H2.astro";

type GradientOption = 1 | 2 | 3;

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  gradientFlipped?: boolean;
  gradientOption?: string;
  title?: string;
}

const { color, gradientFlipped = false, gradientOption, title } = Astro.props;
---

<section>
  {
    title && (
      <header class="mx-auto" style={`background: ${color}`}>
        <H2 {color} class="mx-auto text-center">
          {title}
        </H2>
      </header>
    )
  }
  <div
    class="relative mx-auto w-full overflow-y-hidden overflow-x-visible px-8 py-16"
  >
    {gradientOption && <GradientSelect {gradientOption} {gradientFlipped} />}
    <div class="z-10 mx-auto max-w-7xl">
      <slot />
    </div>
  </div>
</section>
