---
import type { ImageMetadata } from "astro";
import MyPicture from "./MyPicture.astro";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
}

const { title, description, image } = Astro.props;
---

<div class="mt-8 w-full overflow-hidden rounded-2xl md:flex md:h-52">
  <div
    class="mb-4 shrink-0 overflow-hidden md:mb-0 md:mr-4 md:min-h-full md:rounded-l-2xl"
  >
    <div
      class="flex h-72 w-full justify-center overflow-hidden text-gray-300 md:h-full md:w-64 md:justify-end lg:w-96"
    >
      <!-- <img
          src={course.data.heroImage.src}
          alt={`${course.data.title}`}
          class="min-w-full min-h-full object-cover object-center"
        /> -->
      <MyPicture class="max-h-full w-auto" src={image} alt="" />
    </div>
  </div>
  <div class="my-8 px-8 md:my-auto md:px-8">
    <h3 class="text-center text-lg font-bold text-content-2 md:text-left">
      {title}
    </h3>
    <p class="mt-1 text-content-1">
      <Fragment set:html={description} />
    </p>
  </div>
</div>
