---
import MyPicture from "@/components/MyPicture.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  featuredBundles: CollectionEntry<"courses">[];
}

const { featuredBundles } = Astro.props;
---

{
  featuredBundles &&
    featuredBundles.map(({ id, data: { excerpt, heroImage, title } }) => (
      <div class="mx-auto my-8 flex max-w-5xl flex-col items-center gap-x-8 gap-y-6 rounded-3xl bg-secondary p-8 ring-2 ring-content-1/10 sm:gap-y-10 sm:p-10 lg:col-span-2 lg:flex-row">
        <MyPicture
          class="rounded-lg"
          width={250}
          src={heroImage}
          alt={title}
          quality="max"
        />
        <div class="lg:min-w-0 lg:flex-1">
          <h3 class="text-center text-lg font-semibold leading-8 tracking-tight text-accent-1 lg:text-start">
            <a href={`/courses/${id}`}>{title}</a>
          </h3>
          <div class="mt-1 text-center text-base leading-7 text-content-1 lg:text-start">
            <Fragment set:html={excerpt} />
          </div>
        </div>
        <a
          href={`/courses/${id}`}
          class="mx-auto rounded-md px-5 py-3 text-sm font-semibold leading-6 text-accent-1 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:px-3.5 sm:py-2"
        >
          <span aria-hidden="true" class="text-content-1">
            Learn More &rarr;
          </span>
        </a>
      </div>
    ))
}
