---
import PurchaseLink from "@/components/PurchaseLink";
import type { CollectionEntry } from "astro:content";
import CoursePrice from "../_components/CoursePrice";

type CourseFrontmatter = CollectionEntry<"courses">["data"];

interface Props {
  categories: CollectionEntry<"courseCategories">[];
  hours: number;
  linesOfCode: number;
  includedInMembership: CourseFrontmatter["includedInMembership"];
  isCourse: boolean;
  membershipHours: number;
  membershipLinesOfCode: number;
  monthlyMembership: {
    pricingPlanId: number;
  };
  pricingPlanId: CourseFrontmatter["pricingPlanId"];
  title: CourseFrontmatter["title"];
}

const {
    categories,
    hours,
    linesOfCode,
    includedInMembership,
    isCourse,
    membershipHours,
    membershipLinesOfCode,
    monthlyMembership,
    pricingPlanId,
    title,
  } = Astro.props,
  // remove this when including the RoP courses in the membership
  membershipIncludedClassNames = includedInMembership && "grid grid-cols-1",
  membershipIncludedCardClassNames =
    includedInMembership && "sm:rounded-b-none lg:rounded-tr-none";
---

<div
  class=`mx-auto mt-16 max-w-lg items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2 ${membershipIncludedClassNames}`
>
  <div
    class=`card-shadow card-shadow-color rounded-3xl bg-secondary/60 p-8 ring-1 ring-content-2/10 sm:mx-8 sm:p-10 lg:mx-0 lg:rounded-bl-3xl ${membershipIncludedCardClassNames}`
  >
    <h3 id="tier-hobby" class="text-base font-semibold leading-7 text-accent-1">
      {title} - Lifetime License
    </h3>
    <span
      class="mt-4 flex items-baseline gap-x-2 text-5xl font-bold tracking-tight text-content"
    >
      <CoursePrice {pricingPlanId} client:visible={{ rootMargin: "2160px" }} />
    </span>
    <p class="mt-6 text-base leading-7 text-content">
      {isCourse ? "Just the course" : `All of the courses in this bundle`} with a
      one-time payment
    </p>
    <ul class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10">
      {
        [
          `${hours} hours of 4K content`,
          `${linesOfCode} lines of code written`,
          "All PDF slides",
          "Access to the private Rock the JVM community",
          "Free updates",
          "Lifetime access",
        ].map((line) => (
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-accent-1"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            {line}
          </li>
        ))
      }
    </ul>
    <PurchaseLink
      {pricingPlanId}
      ariaDescribedBy="tier-hobby"
      className="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-content ring-1 ring-inset ring-cta hover:ring-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cta sm:mt-10"
      client:visible={{ rootMargin: "2160px" }}
    >
      Get Now</PurchaseLink
    >
  </div>
  {
    includedInMembership && (
      <div class="card-shadow card-shadow-color relative rounded-3xl bg-secondary p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10">
        <h3
          id="tier-enterprise"
          class="text-base font-semibold leading-7 text-accent-1"
        >
          All-Access Membership
        </h3>
        <div class="mt-4 flex items-baseline gap-x-2">
          <span class="text-5xl font-bold tracking-tight text-content">
            <CoursePrice
              pricingPlanId={monthlyMembership.pricingPlanId}
              client:visible={{ rootMargin: "2160px" }}
            />
          </span>
          <span class="text-base text-content">/monthly</span>
        </div>
        <p class="mt-6 text-base leading-7 text-content">
          All of the Rock the JVM courses
        </p>
        <ul class="mt-8 space-y-3 text-sm leading-6 text-content sm:mt-10">
          {[
            `${membershipHours} hours of 4K content`,
            `${membershipLinesOfCode} lines of code written`,
            ...categories.map(({ data: { name } }) => `All ${name} courses`),
          ].map((line) => (
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-accent-1"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"
                />
              </svg>
              {line}
            </li>
          ))}
        </ul>
        <PurchaseLink
          pricingPlanId={monthlyMembership.pricingPlanId}
          ariaDescribedBy="tier-enterprise"
          className="mt-8 block rounded-md bg-cta px-3.5 py-2.5 text-center text-sm font-semibold text-ctatext shadow-sm hover:bg-accent-1 hover:text-content-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cta sm:mt-10"
          client:visible={{ rootMargin: "2160px" }}
        >
          Join Now
        </PurchaseLink>
      </div>
    )
  }
</div>
