---
import { getEntry } from "astro:content";
import Base from "./Base.astro";
import type { CollectionEntry } from "astro:content";
import site from "../data/site.json";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  frontmatter: CollectionEntry<"articles">["data"];
}

const { frontmatter } = Astro.props;
const {
  canonicalUrl,
  description,
  excerpt,
  heroImage,
  publishedDate,
  summary,
  tags,
  title,
  updatedDate,
  video,
} = frontmatter;
const banner: string =
  "https://res.cloudinary.com/dkoypjlgr/image/upload/f_auto,q_auto:good,c_auto,w_1200,h_300,g_auto,fl_progressive/v1715952116/blog_cover_large_phe6ch.jpg";
const { data: author } = await getEntry(
  frontmatter.author.collection,
  frontmatter.author.id,
);
const series = frontmatter.series
  ? await getEntry(frontmatter.series.collection, frontmatter.series.id)
  : undefined;

// const formatDate = (date: Date) =>
//   date.toLocaleDateString("en-US", {
//     weekday: "short",
//     month: "short",
//     day: "2-digit",
//     timeZone: "UTC",
//   });
---

<Base
  {article}
  canonicalUrl={canonicalUrl ? new URL(canonicalUrl) : undefined}
  description={description ?? excerpt}
  image={heroImage
    ? { alt: heroImage.alt, src: heroImage.image.src }
    : undefined}
  {title}
  type="article"
>
  <article>
    <h1>{title}</h1>
    <FormattedDate date={publishedDate} />
    {summary && <summary>{summary}</summary>}
    <slot />
  </article>
</Base>
