---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.jsx";
import "../styles/fonts.css";

interface Props {
  article?: {
    author: {
      name: string;
      twitter?: string;
    };
    updatedTime?: Date;
    publishedTime: Date;
    section: string;
    tags: string[];
    video?: URL;
  };
  canonicalUrl?: URL;
  description: string;
  image?: {
    alt: string;
    src: string;
  };
  title: string;
  type?: string;
  error?: boolean;
}

const { article, canonicalUrl, description, error, image, title, type } =
  Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <Head {article} {canonicalUrl} {description} {error} {image} {title} {type} />
  <body class="h-full">
    <div>
      <Header client:idle />
      <main>
        <slot />
        <Footer />
      </main>
    </div>
  </body>
</html>
<style>
  :root {
    --font-family: "Montserrat", system-ui, sans-serif;
    --color-background: #f8f8f8;
    --color-text: #333333;
    --color-primary: #0070f3;
    --color-primary-dark: #0366d6;
    --color-navigation: hsl(209, 77%, 35%);
  }
  body {
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
  }
</style>
