---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import site from "../data/site.json";
import "@styles/base.css";
import "@styles/fonts.css";

interface Props {
  article?: {
    author: {
      name: string;
      twitter?: string;
    };
    updatedTime?: Date;
    publishedTime: Date;
    section: string;
    tags: string[];
    video?: URL;
  };
  canonicalUrl?: URL;
  description: string;
  image?: {
    alt: string;
    src: string;
  };
  title: string;
  type?: string;
  error?: boolean;
}

const {
  article,
  canonicalUrl = new URL(Astro.url.pathname, Astro.site),
  description,
  error = false,
  image = site.logo,
  title,
  type = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {article} {canonicalUrl} {description} {error} {image} {title} {type} />
  <body class="min-h-screen bg-bkg">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
