---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

interface Props {
  article?: {
    author: {
      name: string;
      twitter?: {
        username: string;
      };
    };
    updatedTime: Date;
    publishedTime: Date;
    section: string;
    tags: string[];
    video?: string;
  };
  canonicalUrl?: URL;
  description: string;
  image?: {
    alt: string;
    src: string;
  };
  title: string;
  type?: string;
}

const { article, canonicalUrl, description, image, title, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {article} {canonicalUrl} {description} {image} {title} {type} />
  <body>
    <div class="wrapper">
      <Header />
      <main>
        <slot />
        <Footer />
      </main>
    </div>
  </body>
</html>
