---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  metaDescription: string;
  metaSiteTitle: string;
  metaTitle: string;
  OGDescription: string;
  OGImage: string;
  OGImageAlt: string;
  OGSiteName: string;
  OGTitle: string;
  OGType: string;
  OGURL: string;
}

const {
  metaDescription,
  metaSiteTitle,
  metaTitle,
  OGDescription,
  OGImage,
  OGImageAlt,
  OGSiteName,
  OGTitle,
  OGType,
  OGURL,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    {metaDescription}
    {metaSiteTitle}
    {metaTitle}
    {OGDescription}
    {OGImage}
    {OGImageAlt}
    {OGSiteName}
    {OGTitle}
    {OGType}
    {OGURL}
  />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
