---
import type { CollectionEntry } from "astro:content";
import Hero from "../components/Hero.astro";
import Base from "./Base.astro";

interface Props {
  frontmatter: CollectionEntry<"informationals">["data"];
}

const { frontmatter } = Astro.props;

const { description, title } = frontmatter;
---

<Base canonicalUrl={Astro.url} {description} {title} type="article">
  <!-- <Hero {title} /> -->
  <h1>{title}</h1>
  <slot />
</Base>
