---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Instructor from "../components/Instructor.astro";
import LatestContent from "../components/LatestContent.astro";
import Membership from "../components/Membership.astro";
import BrandLogos from "../components/BrandLogos.astro";
import Reviews from "../components/Reviews.astro";
import Base from "./Base.astro";

interface Props {
  image?: { src: string; alt: string } | undefined;
  metaDescription: string;
  metaTitle: string;
  OGDescription: string;
  OGImage: string;
  OGImageAlt: string;
  OGTitle: string;
  OGType: string;
  OGURL: string;
  subtitle: string;
  subtitle2?: string | undefined;
  title: string;
}

const {
  image,
  metaDescription,
  metaTitle,
  OGDescription,
  OGImage,
  OGImageAlt,
  OGTitle,
  OGType,
  OGURL,
  subtitle,
  subtitle2,
  title,
} = Astro.props;
---

<Base
  {metaDescription}
  {metaTitle}
  {OGDescription}
  {OGImage}
  {OGImageAlt}
  {OGTitle}
  {OGType}
  {OGURL}
>
  <div class="main">
    <div>
      <!-- <Hero {image} {subtitle} {subtitle2} {title} /> -->
      <!-- <LatestContent />
      <Membership />
      <Instructor />
      <BrandLogos /> -->
      <!-- <hr />
    <h2>LATEST CONTENT</h2>
    <hr />
    <h2>COURSES</h2>
    <hr />
    <Membership />
    <Instructor />
    <Reviews />
    <Contact /> -->
    </div>
  </div>
</Base>
<!-- <style>
  Hero {
    background-color: var(--color-primary);
  }
</style> -->
