---
import BaseLayout from "./BaseLayout.astro";
import rays from "../images/rays.webp";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <!-- <img src={frontmatter.image.url} width="300" height="180" alt={frontmatter.image.alt} /> -->
  <Image src={rays} width={300} height={180} alt={frontmatter.image.alt} />
  <hr />
  <slot />
</BaseLayout>
