---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Base from "./Base.astro";
import PostTags from "../components/PostTags.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"];
}

const { frontmatter } = Astro.props;
const { description, image, lastUpdatedDate, publishedDate, tags, title } =
  frontmatter;
const { data: author } = await getEntry("authors", frontmatter.author.id);

const formatDate = (date: Date) =>
  date.toLocaleDateString("en-US", {
    weekday: "short",
    month: "short",
    day: "2-digit",
    timeZone: "UTC",
  });
---

<Base
  {metaDescription}
  {metaSiteTitle}
  {metaTitle}
  {OGDescription}
  {OGImage}
  {OGImageAlt}
  {OGSiteName}
  {OGTitle}
  {OGType}
  {OGURL}
>
  <article>
    <header>
      <h1>{title}</h1>
      <p>Published on: {formatDate(publishedDate)}</p>
      {lastUpdatedDate && <p>Updated on: {formatDate(lastUpdatedDate)}</p>}
      <p><em>{description}</em></p>
      <p>Written by: {author.name}</p>
      <Image src={author.avatar} alt={author.name} width="25" height="25" />
      <!-- <img src={frontmatter.image.url} width="300" height="180" alt={frontmatter.image.alt} /> -->
      <Image src={rays} width={300} height={180} alt={image.alt} />
      <PostTags {tags} />
    </header>
    <hr />
    <slot />
    <!-- <hr />
    {
      frontmatter.relatedPosts && (
        <section>
          <h2>Related Posts</h2>
          <ul>
            {frontmatter.relatedPosts.map((post) => (
              <li>
                <a href={`/posts/${post.slug}`}>"s"</a>
              </li>
            ))}
          </ul>
        </section>
      )
    } -->
  </article>
</Base>
