---
import { type CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"reviews">["data"];
}

const { frontmatter } = Astro.props;
const { company, link, location, name, photo, role } = frontmatter;
---

<article>
  <header>
    <img src={photo.src} alt=`Photo of ${name}` />
    <p><a href={name}>{link}</a>, {role} at {company}</p>
    <br />
    <p>({location.city}, {location.country})</p>
  </header>
  <slot />
</article>
