---
import CourseEntry from "@components/CourseEntry.astro";
import NewsletterForm from "@components/NewsletterForm.astro";
import type { HolidayCourse } from "../_types/holidayCourse";

interface Props {
  courses: HolidayCourse[];
  bigCoupon: string;
}

const { courses, bigCoupon } = Astro.props;
---

<article>
  {
    courses.map(({ category, courses }) => (
      <section class="px-8 pt-4 sm:pt-8 md:pt-12 lg:px-16">
        <div class="flex flex-row gap-x-4">
          <h2 class="my-auto w-full text-center">{category}</h2>
        </div>
        {courses.map(({ id, prices }) => (
          <CourseEntry
            course={id}
            holiday={true}
            coupon={bigCoupon}
            pricingPlanId={id.data.pricingPlanId}
            {prices}
          />
        ))}
      </section>
    ))
  }
  <NewsletterForm />
</article>
