---
import NewsletterForm from "@/components/NewsletterForm.astro";
import CourseEntry from "@/pages/_components/CourseEntry.astro";
import type { HolidayCategory } from "../_types/holidayCategory.ts";

interface Props {
  categories: HolidayCategory[];
  couponCode: string;
}

const { categories, couponCode } = Astro.props;
---

<article>
  {
    categories.map(({ category, description, courses }) => (
      <section class="mx-auto max-w-7xl px-16 pt-4 sm:pt-8 md:pt-12 xl:px-32">
        <div class="flex flex-row gap-x-4">
          <h2 class="my-auto w-full text-center">{category}</h2>
        </div>
        <p class="my-2 text-center">{description}</p>
        {courses.map(({ course, hasCoupon, prices }) => (
          <CourseEntry {course} holiday={true} couponCode={hasCoupon && couponCode} {prices} />
        ))}
      </section>
    ))
  }
  <!-- <NewsletterForm /> -->
</article>
