---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  description: CollectionEntry<"courses">["data"]["description"];
  image: CollectionEntry<"courses">["data"]["image"];
  title: CollectionEntry<"courses">["data"]["title"];
  slug: string;
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"];
}

const { description, image, pricingPlanId, slug, title } = Astro.props;
---

<header class="relative min-h-[92vh]">
  <Image
    alt={title}
    src={image}
    class="absolute inset-0 w-full h-full object-cover"
    slot="image"
  />
  <div class="absolute inset-0 bg-black opacity-60 backdrop-blur-sm"></div>
  <div class="relative px-6 py-40 sm:px-6 sm:py-48 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-5xl md:text-6xl font-bold tracking-tight text-gray-100">
        {title}
      </h1>
      <p class="mx-auto mt-6 max-w-xl text-xl md:text-2xl leading-8 text-gray-300">
        {description}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href={`https://rockthejvm.com/purchase?product_id=${pricingPlanId}`}
          class="rounded-md bg-[#0b49d0] px-3.5 py-2.5 text-md font-semibold text-gray-100 hover:text-gray-100 hover:no-underline shadow-sm hover:bg-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Take this course
        </a>
        <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-300">
          Learn more <span aria-hidden="true">→</span>
        </a> -->
      </div>
    </div>
  </div>
</header>
