---
import MyPicture from "@components/MyPicture.astro";
import type { CollectionEntry } from "astro:content";

type CourseFrontmatter = CollectionEntry<"courses">["data"];

interface Props {
  description: CourseFrontmatter["description"];
  heroImage: CourseFrontmatter["heroImage"];
  pricingPlanId: CourseFrontmatter["pricingPlanId"];
  title: CourseFrontmatter["title"];
  active: CourseFrontmatter["active"];
}

const { description, heroImage, pricingPlanId, title, active } = Astro.props;
---

<header class="relative min-h-[92vh]">
  <MyPicture
    alt={title}
    src={heroImage}
    class="absolute inset-0 size-full object-cover"
    loading="eager"
    quality="mid"
    slot="image"
    searchImage={true}
  />
  <div class="absolute inset-0 bg-black opacity-60 backdrop-blur-sm"></div>
  <div
    class="relative mx-auto max-w-2xl px-6 py-40 text-center sm:px-6 sm:py-48 lg:px-8"
  >
    <h1 class="text-5xl font-bold tracking-tight text-gray-100 md:text-6xl">
      {title}
    </h1>
    <p
      class="mx-auto mt-6 max-w-xl text-xl leading-8 text-gray-300 md:text-2xl"
    >
      {description}
    </p>
    {
      active && (
        <div class="mt-10 text-center">
          <a
            href={`https://courses.rockthejvm.com/purchase?product_id=${pricingPlanId}`}
            class="rounded-md bg-cta px-3.5 py-2.5 text-base font-semibold text-ctatext shadow-sm hover:bg-accent-1 hover:text-gray-100 hover:no-underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Enroll now
          </a>
        </div>
      )
    }
  </div>
</header>
