---
import Section from "@/components/Section.astro";
import { getTeachablePricingPlan } from "@/utils/teachable";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import FeaturedBundles from "../_components/FeaturedBundles.astro";
import MoneyBackGuarantee from "../_components/MoneyBackGuarantee.astro";
import PricingPanels from "../_components/PricingPanels";

interface Props {
  benefits: CollectionEntry<"courses">["data"]["benefits"];
  bundledCourses: CollectionEntry<"courses">[];
  courseId: CollectionEntry<"courses">["id"];
  color: CollectionEntry<"courseCategories">["data"]["color"];
  currency: string;
  isCourse: boolean;
  priceInCents: number;
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"];
  title: CollectionEntry<"courses">["data"]["title"];
}

const {
    benefits,
    bundledCourses,
    color,
    courseId,
    currency,
    isCourse,
    priceInCents,
    pricingPlanId,
    title,
  } = Astro.props,
  _personalMembership = await getEntry("memberships", "personal")!,
  monthlyMembership = _personalMembership.data.packages[0],
  monthlyPricingPlan = await getTeachablePricingPlan(
    monthlyMembership.pricingPlanId,
  ),
  yearlyMembership = _personalMembership.data.packages[1],
    yearlyPricingPlan = await getTeachablePricingPlan(
    yearlyMembership.pricingPlanId,
  ),
  hours = isCourse
    ? benefits!.hours
    : bundledCourses
        .map(({ data: { benefits } }) => benefits?.hours ?? 0)
        .reduce((b, a) => b + a, 0),
  linesOfCode = isCourse
    ? benefits!.linesOfCode
    : bundledCourses
        .map(({ data: { benefits } }) => benefits?.linesOfCode ?? 0)
        .reduce((b, a) => b + a, 0),
  _courses = await getCollection("courses"),
  membershipHours = _courses
    .map(({ data: { benefits } }) => benefits?.hours ?? 0)
    .reduce((b, a) => b + a, 0),
  membershipLinesOfCode = _courses
    .map(({ data: { benefits } }) => benefits?.linesOfCode ?? 0)
    .reduce((b, a) => b + a, 0),
  categories = await getCollection(
    "courseCategories",
    ({ data: { id } }) => id !== "bundle",
  ),
  featuredBundles = _courses.filter((course) =>
    course.data.bundledCourses?.some(({ id }) => id === courseId),
  );
---

<Section {color} gradientOption={1} gradientFlipped={false} title="Enroll now!">
  <div class="relative isolate w-full px-2 py-1 sm:px-6 sm:py-2 lg:px-8">
    <div class="mx-auto max-w-2xl text-center lg:max-w-4xl"></div>
    {
      monthlyPricingPlan !== null ? (
        <PricingPanels
          {categories}
          {currency}
          {hours}
          {linesOfCode}
          {isCourse}
          {membershipHours}
          {membershipLinesOfCode}
          {monthlyMembership}
          {yearlyMembership}
          monthlyPriceInCents={monthlyPricingPlan!.price}
          yearlyPriceInCents={yearlyPricingPlan!.price}
          {priceInCents}
          {pricingPlanId}
          {title}
          client:visible={{ rootMargin: "2160px" }}
        />
      ) : (
        <p>MISSING TEACHABLE_API_KEY</p>
      )
    }
    <FeaturedBundles {featuredBundles} />
    <MoneyBackGuarantee />
  </div>
</Section>
