---
import Section from "@/components/Section.astro";
import TechStackCard from "@/components/TechStackCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  technologies: NonNullable<CollectionEntry<"courses">["data"]["technologies"]>;
}

const { color, technologies } = Astro.props;
---

<Section id="tech-stack" {color} title="The Tech Stack">
  <div class="mx-auto grid max-w-4xl grid-cols-1 gap-4">
    {
      technologies.map((technology) => (
        <div class="card-shadow card-shadow-color overflow-hidden rounded-2xl bg-secondary/60 ring-1 ring-content/10 transition-all hover:bg-secondary hover:ring-accent-1/30">
          <TechStackCard
            title={technology.title}
            description={technology.description}
            image={technology.image}
            alt={technology.title}
          />
        </div>
      ))
    }
  </div>
</Section>
